$header_font_size : 100px;

*{
	box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header{
    padding: 80px;
    text-align: center;
    background: #00b377;
    color: white;

	h1{
		font-size:40px;
	}
}
.navbar{
		overflow: hidden;
		background-color: #333;
		position: sticky;
		top: 0;

	a {
		float: left;
		display: block;
		color: white;
		text-align: center;
		padding: 14px 20px;
		text-decoration: none;
  }
a.right {
  float: right;
}
  a:hover {
  background-color: #ddd;
  color: black;
}
  .navbar a.active {
  background-color: #666;
  color: white;
}
}

.main {   
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

.row {  
  display: flex;
  flex-wrap: wrap;
}

